.nav-left{
  
  .logo{
    padding: 15px 15px 15px;
    background: #002140;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 60px;
    }
    .logo-text{
      padding-left: 5px;
      font-size: 12px;
      color: #fff;
    }
  }
  .menu-wrapper{
    height: calc(100% - 63px);
  }
}